<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>391440289487-ds6i7i7an0kcv9vk2d23g48cbrlb8sgv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.391440289487-ds6i7i7an0kcv9vk2d23g48cbrlb8sgv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>391440289487-khb7765b1irh449gj8f0ri4iugs04vcq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDh8bgUCUO2EnG19gJ_q-hPTEr7FWKm2Eg</string>
	<key>GCM_SENDER_ID</key>
	<string>391440289487</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.theAfricanbasket</string>
	<key>PROJECT_ID</key>
	<string>the-africanbasket-351412</string>
	<key>STORAGE_BUCKET</key>
	<string>the-africanbasket-351412.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:391440289487:ios:68dbf345fcc0fece3e31ba</string>
	<key>DATABASE_URL</key>
	<string>https://the-africanbasket-351412-default-rtdb.firebaseio.com</string>
</dict>
</plist>